.viewer {
  height: 100%;
}
.view-area {
  height: 100%;
  touch-action: none;
  position: relative;
}
.setting-panel-parent {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 282px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  animation: fade-right 0.2s ease-in-out 0s 1;
}
.setting-panel {
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  /* display: none; */
}
@keyframes fade-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.navigation-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 282px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  opacity: 1;
  z-index: 10;
  animation: fade-left 0.2s ease-in-out 0s 1;
}

@keyframes fade-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-operation-panel {
  width: 412px !important;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: calc(50% - 206px);
  z-index: 10;
  animation: fade-down 0.1s ease-in-out 0s 1;
}
@keyframes fade-down {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.progress-panel {
  width: 412px !important;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  opacity: 1;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 206px);
  z-index: 10;
  animation: fade-up 0.1s ease-in-out 0s 1;
}
@keyframes fade-up {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.left-panel {
  width: 50px;
  height: calc(100% - 100px);
  position: absolute;
  left: 0px;
  top: 50px;
  background-color: pink;
  z-index: 10;
  opacity: 0;
}
.right-panel {
  width: 50px;
  height: calc(100% - 100px);
  position: absolute;
  right: 0px;
  top: 50px;
  background-color: pink;
  z-index: 10;
  opacity: 0;
}
.top-panel {
  width: calc(100% - 100px);
  height: 50px;
  position: absolute;
  right: 50px;
  top: 0px;
  background-color: pink;
  z-index: 10;
  opacity: 0;
}
.bottom-panel {
  width: calc(100% - 100px);
  height: 50px;
  position: absolute;
  right: 50px;
  bottom: 0px;
  background-color: pink;
  z-index: 10;
  opacity: 0;
}
.operation-panel-container {
  width: 412px;
  height: 60px;
  position: absolute;
  top: 0px;
  left: calc(50% - 206px);
}
.progress-panel-container {
  width: 412px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 206px);
}
