.header-search-container {
  position: absolute;
  top: 23px;
  left: 20px;
  width: 209px;
  height: 40px;
}
.header-search-box {
  width: 189px;
  height: 38px;
  background: rgba(191, 191, 191, 0.28);
  border-radius: 19px;
  border-style: none;
  outline: none;
  padding-left: 20px;
  font-size: 16px;
  color: rgba(75, 75, 75, 0.8);
}
input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 27px;
  color: rgba(75, 75, 75, 0.8);
  /* opacity: 1; */
}
.header-search-icon {
  float: left;
  font-size: 23px;
  color: rgba(75, 75, 75, 0.6);
  position: relative;

  left: 170px;
  bottom: 30px;
  cursor: pointer;
}
.header-search-text {
  position: absolute;
  top: 12px;
  right: 5px;
  font-size: 16px;
  display: inline-block;
  width: 50px;
  color: rgba(75, 75, 75, 1);
  /* position: absolute;
  margin-top: 32px;
  margin-left: 20px; */
  /* left: 165px; */
  /* position: relative;
  right: 50px;
  ; */
  cursor: pointer;
}
.search-text {
  font-size: 17px;
  position: relative;
  right: 180px;
  bottom: 4px;
}
