osx_image: xcode8.3
sudo: required
dist: trusty
language: c
matrix:
  include:
    - os: osx
    - os: linux
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang
cache:
  directories:
    - node_modules
    - "$HOME/.electron"
    - "$HOME/.cache"
addons:
  apt:
    packages:
      - libgnome-keyring-dev
      - icnsutils
  snaps:
    - name: snapcraft
      confinement: classic
      channel: stable
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install git-lfs; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]];then sudo apt-get install --no-install-recommends -y icnsutils graphicsmagick xz-utils; fi
install:
  - nvm install 10
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - source ~/.bashrc
  - npm install -g xvfb-maybe
  - yarn
before_script:
  - git lfs pull
  - sudo snap install snapcraft --classic
script:
  - yarn release
branches:
  only:
    - master
