.font-size-setting {
  width: calc(100% - 44px);
  margin: 0 22px;
  height: 70px;
}
.font-size-title {
  font-size: 16px;

  line-height: 27px;
  color: rgba(75, 75, 75, 1);
  padding-bottom: 10px;
}
.ultra-small-size {
  float: left;
  font-size: 16px;

  line-height: 27px;
  color: rgba(75, 75, 75, 1);
}
.font-size-line {
  float: left;
  width: 173px;
  height: 0px;
  border: 2px solid rgba(112, 112, 112, 1);
  opacity: 1;
  border-top: none;
  margin-top: 12px;
  margin-left: 14px;
}
.ultra-large-size {
  float: right;
  font-size: 40px;
  font-weight: 300;
  line-height: 68px;
  color: rgba(75, 75, 75, 1);
  position: relative;
  bottom: 66px;
  right: -20px;
}
.font-size-selector {
  width: 205px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
}

.font-size-description {
  float: left;
  width: 25px;
  position: relative;
  bottom: 4px;
  right: 2px;
  cursor: pointer;
}
.font-size-circle {
  display: flex;
  justify-content: center;
  float: left;
  margin: 0 8px;
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  font-size: 10px;
  color: rgba(75, 75, 75, 1);
  text-align: center;
  box-sizing: border-box;
}

.active-font-size {
  width: 17px;
  height: 17px;
  margin: 0 4px;
  background: black;
}
.font-size-text {
  width: 100%;
  text-align: center;
  margin-top: 8px;
  float: left;
  display: block;
  font-size: 12px;
  color: rgba(75, 75, 75, 1);
}
