.font-size-setting {
  width: calc(100% - 44px);
  margin: 0px 22px;
  height: 70px;
}
.font-size-title {
  font-size: 16px;
  line-height: 27px;
  color: rgba(75, 75, 75, 1);
  padding-bottom: 10px;
}
.ultra-small-size {
  float: left;
  font-size: 16px;

  line-height: 27px;
  color: rgba(75, 75, 75, 1);
}

.ultra-large-size {
  float: right;
  font-size: 40px;
  line-height: 68px;
  color: rgba(75, 75, 75, 1);
  position: relative;
  bottom: 49px;
  left: 5px;
}
.font-size-selector {
  width: 205px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
  position: relative;
  right: 40px;
}

.font-size-text {
  width: 100%;
  text-align: center;
  margin-top: 8px;
  float: left;
  display: block;
  font-size: 12px;
}
.font-size-demo {
  text-align: center;
  color: rgba(75, 75, 75, 1);
  margin-left: 19px;
  position: relative;
  top: 10px;
}
