.note-list-container-parent {
  position: absolute;
  top: 75px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 90px);
  overflow: hidden;
}
.note-list-container {
  width: 100%;
  height: 100%;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
  user-select: text;
}

.note-page-item {
  /* display: block; */
  width: 100%;
  /* height: 400px; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
  /* font-size: 0px; */
  /* clear: both; */
  /* float: left; */
  /* zoom: 1; */
  overflow: hidden;
  /* width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
  font-size: 0px;
  overflow: hidden; */
}
/* .note-page-item:before,
.note-page-item:after {
  content: "";
  display: table;
} */
/* .note-page-item:after {
  clear: both;
} */
.note-page-item-date {
  /* float: left; */
  position: absolute;
  font-size: 14px;
  line-height: 25px;
  color: rgba(75, 75, 75, 1);
  opacity: 0.75;
  margin-left: 19px;
}
.note-list-container-box {
  /* float: left; */
  margin-top: 35px;
  width: 100%;
  /* height: 600px; */
  /* margin-top: 10px; */
}
.note-list-item {
  float: left;
  /* display: inline-block; */
  font-size: 16px;
  width: 363px;
  height: 106px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 7px;
  margin: 15px;

  font-size: 14px;
  line-height: 14px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  position: relative;
  bottom: 10px;
}
.note-list-item-note-parent {
  height: 60px;
  overflow: hidden;
  margin: 16px;
  width: 100%;
}
.note-list-item-note {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  line-height: 17px;
}

.note-list-item-more-info {
  display: none;
  width: 321px;
  height: 64px;
  font-size: 12px;

  line-height: 13px;
  color: rgba(191, 191, 191, 1);
  opacity: 1;
  margin: 0px 25px;
}
.note-list-item-show-more {
  width: 100%;
  font-size: 12px;

  line-height: 13px;
  color: rgba(191, 191, 191, 1);
  opacity: 1;
  text-align: center;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}
.note-list-show-more-icon {
  /* display: block; */
  font-size: 12px;
  line-height: 13px;
  color: rgba(191, 191, 191, 1);
  opacity: 1;
  text-align: center;
  position: absolute;
  bottom: 5px;
  margin-left: 175px;
}
.note-list-item-more-text-parent {
  height: 60px;
  width: 100%;
  overflow: hidden;
}
.note-list-item-more-text {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  font-size: 13px;
  line-height: 15px;
}

.note-list-item-citation {
  margin-right: 20px !important;
  float: right;
}
.note-list-item-chapter {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 14px;
  max-width: 130px;
}
.note-list-item-citation {
  position: absolute;
  bottom: 25px;
  right: 5px;
  /* text-align: right; */
  margin: 5px;
  white-space: nowrap;
  white-space: normal;
  word-break: break-all;
  color: rgba(191, 191, 191, 1);

  /* width: 300px; */
  /* text-align: right; */
}
.note-list-item-text {
  /* text-align: right; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 10px;
  position: absolute;
}
.note-list-item-title {
  float: left;
}
