.token-dialog-container {
  width: 454px;
  height: 278px;
  position: absolute;
  left: calc(50% - 227px);
  top: calc(50% - 139px);
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.34);
  opacity: 1;
  z-index: 20;
  animation: popup 0.1s ease-in-out 0s 1;
}

.token-dialog-title {
  width: 120px;
  height: 20px;
  font-size: 20px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 15px;
  font-weight: 500;
}

.token-dialog-info-text {
  width: 416px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 19px;
}

.token-dialog-link-text {
  width: 94px;
  height: 29px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(45, 111, 200, 1);
  opacity: 1;
  position: absolute;
  left: 181px;
  top: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
  color: rgba(45, 111, 200, 1);
  text-align: center;
  cursor: pointer;
}

.token-dialog-token-box {
  width: 382px;
  height: 70px;
  background: rgba(246, 246, 246, 1);
  border: 2px solid rgba(112, 112, 112, 1);
  opacity: 1;
  font-size: 13px;
  line-height: 14px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 30px;
}

.token-dialog-cancel {
  width: 60px;
  height: 26px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(75, 75, 75, 1);
  opacity: 1;
  position: absolute;
  left: 157px;
  top: 236px;
  font-size: 14px;
  line-height: 26px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.token-dialog-comfirm {
  width: 64px;
  height: 30px;
  background: rgba(75, 75, 75, 1);
  opacity: 1;
  position: absolute;
  left: 237px;
  top: 236px;
  font-size: 14px;
  line-height: 30px;
  color: white;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
