.exit-reading-button {
  float: left;
  width: 105px;
  height: 37px;
  background: rgba(146, 146, 146, 1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
  opacity: 1;
  margin-top: 11px;
  margin-left: 23px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exit-reading-icon {
  font-size: 21px;
}
.exit-reading-text {
  font-size: 14px;
  line-height: 37px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  margin-left: 10px;
}
.add-bookmark-button {
  float: left;
  width: 105px;
  height: 37px;
  background: rgba(92, 143, 211, 0.83);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
  opacity: 1;
  margin-top: 11px;
  margin-left: 26px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-bookmark-icon {
  font-size: 20px;
  color: white;
}
.add-bookmark-text {
  font-size: 14px;
  line-height: 37px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  margin-left: 10px;
}
.enter-fullscreen-button {
  float: left;
  width: 105px;
  height: 37px;
  background: rgba(94, 178, 148, 1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
  opacity: 1;
  margin-top: 11px;
  margin-left: 26px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enter-fullscreen-icon {
  font-size: 19px;
}
.enter-fullscreen-text {
  font-size: 14px;
  line-height: 37px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  margin-left: 10px;
}
.book-operation-panel {
  width: 412px !important;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: calc(50% - 206px);
  z-index: 10;
  animation: fade-down 0.1s ease-in-out 0s 1;
}
