.manager {
  width: 100%;
  height: 100%;
}
.arrow-text {
  font-size: 20px;
}

.auth-page-close-icon {
  font-size: 60px !important;
  float: none !important;
}
.mobile-warning {
  text-align: center;
  font-size: 22px;
  padding: 70px 30px;
  line-height: 30px;
}
.chat-widget-icon {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #4b4b4b;
}
.drag-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9;
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.drag-info {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 80px;
  right: 0px;
  text-align: center;
}
.waring-title {
  text-align: center;
  margin: 50px 0px 20px;
  font-size: 40px;
  font-weight: 600;
}
.waring-pic {
  width: 80vw;
  position: absolute;
  left: 10vw;
  bottom: 20px;
}
