.manager {
  width: 100%;
  height: 100%;
}
.arrow-text {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 600;
  margin: 0;
  line-height: 1.4;
}

.auth-page-close-icon {
  font-size: 60px !important;
  float: none !important;
}
.mobile-warning {
  text-align: center;
  font-size: 22px;
  padding: 70px 30px;
  line-height: 30px;
}
.drag-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9;
}
.drag-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  padding: 48px 36px;
  text-align: center;
  border: 3px dashed rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.12);
  pointer-events: none;
}
.waring-title {
  text-align: center;
  margin: 50px 0px 20px;
  font-size: 40px;
  font-weight: 600;
}
.waring-pic {
  width: 80vw;
  position: absolute;
  left: 10vw;
  bottom: 20px;
}
