.import-from-local {
  float: right;
  margin-right: 370px;
  margin-top: 20px;
  width: 118px;
  height: 42px;
  background: rgba(75, 75, 75, 1);
  opacity: 1;
  border-radius: 25px;
  line-height: 42px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.import-book-box {
  position: relative;
  bottom: 67px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 500;
  opacity: 0;
  cursor: pointer;
  font-size: 0;
}
