.tag-list-item {
  min-width: 45px;
  height: 20px;
  background: #ffffff;
  border: 1.5px solid #4b4b4b;
  opacity: 1;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
  margin-top: 5px;
}
.active-tag {
  background-color: #4b4b4b;
  color: white;
}
.tag-title {
  font-size: 16px;
  line-height: 31px;
  color: #4b4b4b;
  opacity: 1;
  margin-left: 10px;
  font-weight: 600;
}
.tag-container {
  display: inline-block;
  margin: 0px 10px;
}

#newTag {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 100%;
  background-color: rgba(75, 75, 75, 0.1);
  padding-left: 10px;
}
#newTag:focus {
  outline: none;
}
.tag-list-item-new {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1.5px solid #4b4b4b;
  opacity: 1;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  font-size: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 1px;
  box-sizing: border-box;
}
.delete-tag-container {
  position: relative;
  left: 25px;
}
