.setting-panel-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 44px);
  height: 38px;
  color: rgba(75, 75, 75, 1);
  font-weight: 500;
  margin: 4px 22px;
}
.setting-panel-parent {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 299px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  animation: fade-right 0.2s ease-in-out 0s 1;
  z-index: 10;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
}

.setting-panel {
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 100%;
  height: calc(100% - 55px);
  overflow-y: scroll;
  box-sizing: border-box;

  /* display: none; */
}
.single-control-switch-container {
  margin: 15px 20px 10px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.single-control-switch-title {
  font-size: 16px;
  line-height: 16px;
  color: rgba(75, 75, 75, 1);
  font-weight: 500;
}
.single-control-switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: rgba(75, 75, 75, 1);
  opacity: 1;
  border-radius: 10px;
  position: relative;
  top: 3px;
  left: 2px;
}
.single-control-button {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  margin: 2px;
}
.lock-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  color: rgba(75, 75, 75, 0.3);
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
}
