.book-list-item-container {
  display: flex;
  justify-content: space-between;
  margin: 18px;
  margin-right: 50px;
}
.book-item-list-cover {
  width: 57px;
  height: 74px;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.22);
  opacity: 1;
  cursor: pointer;
}
.book-item-list-title,
.book-item-list-author {
  height: 30px;
  width: 250px;
  font-size: 17px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer;
  margin: 22px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-item-list-date,
.book-item-list-percentage,
.book-item-list-config {
  height: 30px;
  width: 120px;
  font-size: 17px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-align: center;
  margin: 22px 10px;
  line-height: 30px;
}
.book-item-list-config {
  cursor: pointer;
}
.list-icon {
  margin: 15px 10px;
  font-size: 20px;
}
.book-item-list-percentage {
  max-width: 50px;
}
