.exit-reading-button {
  float: left;
  width: 105px;
  height: 37px;
  background: rgba(146, 146, 146, 1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
  opacity: 1;
  margin-top: 11px;
  margin-left: 23px;
  cursor: pointer;
}
.exit-reading-icon {
  font-size: 21px;
  margin-left: 10px;
  position: relative;
  top: 8px;
}
.exit-reading-text {
  font-size: 14px;
  line-height: 37px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  float: right;
  margin-right: 11px;
}
.add-bookmark-button {
  float: left;
  width: 105px;
  height: 37px;
  background: rgba(92, 143, 211, 0.83);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
  opacity: 1;
  margin-top: 11px;
  margin-left: 26px;
  cursor: pointer;
}
.add-bookmark-icon {
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  top: 8px;
  color: white;
}
.add-bookmark-text {
  font-size: 14px;
  line-height: 37px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  float: right;
  margin-right: 11px;
}
.enter-fullscreen-button {
  float: left;
  width: 105px;
  height: 37px;
  background: rgba(94, 178, 148, 1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
  opacity: 1;
  margin-top: 11px;
  margin-left: 26px;
  cursor: pointer;
}
.enter-fullscreen-icon {
  font-size: 19px;
  margin-left: 10px;
  position: relative;
  top: 9px;
}
.enter-fullscreen-text {
  font-size: 14px;
  line-height: 37px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  float: right;
  margin-right: 11px;
}
