.action-dialog-container {
  width: 200px;
  height: 340px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.34);
  opacity: 1;
  position: absolute;
  z-index: 9;
  animation: popup 0.1s ease-in-out 0s 1;
  border-radius: 10px;
  overflow: hidden;
}

.action-dialog-actions-container {
  font-size: 16px;
  text-align: center;
  line-height: 14px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  /* position: absolute;
  top: 83px;
  left: 29px; */
}
.action-dialog-add,
.action-dialog-delete,
.action-dialog-edit {
  color: #4b4b4b;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 15px;
}

.action-name {
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  color: #4b4b4b;
}
.action-dialog-book-info {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  overflow-y: scroll;
  height: 195px;
}
.action-dialog-book-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
  opacity: 0.8;
  max-height: 60px;
  margin-bottom: 10px;
}
.action-dialog-book-author,
.action-dialog-book-desc,
.action-dialog-book-publisher,
.action-dialog-book-added {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.7;
}
.action-dialog-book-detail {
  /* width: 80%; */
  margin-top: 5px;
  max-height: 50px;
  font-size: 14px;
}
