.cloud-drive-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px 0;
}
.import-dialog-folder-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 15px;
  margin-right: 15px;
}
.import-dialog-folder-icon {
  font-size: 20px;
}
.cloud-drive-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.cloud-drive-label {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  width: calc(100% - 50px);
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 10px;
}
.import-dialog-more-file {
  transform: rotate(-90deg);
  font-size: 13px;
}
.import-dialog-option {
  width: 100%;

  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  position: absolute;
  top: 50px;
  bottom: 50px;
}
.import-dialog-back-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  cursor: pointer;
}
.cloud-drive-label:hover {
  color: #f16464;
}
