.ebook-viewer {
  overflow-y: scroll;
  z-index: 5;
}
.viewer {
  height: 100%;
}
.view-area {
  height: 100%;
  touch-action: none;
  position: relative;
}

@keyframes fade-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.panel-icon {
  color: white;
  font-size: 18px;
  opacity: 0.9;
}
.left-panel {
  width: 40px;
  height: 60%;
  position: absolute;
  left: 0px;
  top: calc(50vh - 30%);
  background-color: rgba(75, 75, 75, 0.3);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 10;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right-panel {
  width: 40px;
  height: 60%;
  position: absolute;
  right: 0px;
  top: calc(50vh - 30%);
  background-color: rgba(75, 75, 75, 0.3);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 10;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.top-panel {
  width: 60%;
  height: 40px;
  position: absolute;
  left: calc(50vw - 30%);
  top: 0px;
  background-color: rgba(75, 75, 75, 0.3);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 10;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bottom-panel {
  width: 60%;
  height: 40px;
  position: absolute;
  left: calc(50vw - 30%);
  bottom: 0px;
  background-color: rgba(75, 75, 75, 0.3);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 10;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.operation-panel-container {
  width: 450px;
  height: 60px;
  position: absolute;
  top: 0px;
  left: calc(50vw - 225px);
  z-index: 15;

  transition: transform 0.5s ease;
}
.progress-panel-container {
  width: 450px;
  height: 60px;
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50vw - 225px);
  z-index: 15;
  transition: transform 0.5s ease;
}
.setting-panel-container {
  width: 299px;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: transform 0.5s ease;
  z-index: 15;
}
.navigation-panel-container {
  width: 299px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.5s ease;
  z-index: 15;
}
.view-area-page {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 28px;
  bottom: 25px;
  /* width: calc(100% - 100px);
  height: calc(100% - 100px); */
  z-index: 5;
  user-select: text;
}
.previous-chapter-single-container {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  transform: rotate(90deg);
  cursor: pointer;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.next-chapter-single-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 15px;
  transform: rotate(-90deg);
  cursor: pointer;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.next-chapter-single-container:hover {
  opacity: 0.7;
}
.previous-chapter-single-container:hover {
  opacity: 0.5;
}
.previous-chapter-single {
  height: 20px;
  font-size: 20px;
}
.next-chapter-single {
  font-size: 20px;
  height: 20px;
}
.reader-setting-icon {
  margin: 8px;
  opacity: 0.7;
  width: 50px;
  padding: 15px;
}
.scale-container {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.reader-setting-icon-container,
.reader-zoom-in-icon-container {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  transition: 0.1s;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0, 2s;
  float: right;
}
.reader-setting-icon-container:hover,
.reader-zoom-in-icon-container:hover {
  border-radius: 50%;
}
.reader-zoom-in-icon-container {
  font-size: 23px;
}
