.viewer {
  height: 100%;
}
.view-area {
  height: 100%;
  touch-action: none;
  position: relative;
}

@keyframes fade-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-down {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.left-panel {
  width: 60px;
  height: calc(100% - 100px);
  position: absolute;
  left: 0px;
  top: 50px;
  background-color: pink;
  z-index: 10;
  opacity: 0;
}
.right-panel {
  width: 60px;
  height: calc(100% - 100px);
  position: absolute;
  right: 0px;
  top: 50px;
  background-color: pink;
  z-index: 10;
  opacity: 0;
}
.top-panel {
  width: 412px;
  height: 60px;
  position: absolute;
  right: calc(50% - 206px);
  top: 0px;
  background-color: pink;
  z-index: 10;
  opacity: 0;
}
.bottom-panel {
  width: 412px;
  height: 60px;
  position: absolute;
  right: calc(50% - 206px);
  bottom: 0px;
  background-color: pink;
  z-index: 10;
  opacity: 0;
}
.operation-panel-container {
  width: 412px;
  height: 60px;
  position: absolute;
  top: 0px;
  left: calc(50% - 206px);
}
.progress-panel-container {
  width: 412px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 206px);
}
.setting-panel-container {
  width: 299px;
  height: 100vh;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.navigation-panel-container {
  width: 299px;
  height: 100vh;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
