.about-icon-container {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1100px) {
  .about-icon-container {
    display: none;
  }
}
.about-container {
  position: absolute;
  left: 390px;
  margin-top: 68px;
}
.about-icon {
  font-size: 24px;
  cursor: pointer;
  opacity: 0.8;
  margin: 0px !important;
}
.icon-github {
  margin-left: 40px;
}
.icon-donate {
  margin-right: 40px;
}
