.about-icon-container {
  width: 190px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 50px;
}
.about-icon {
  font-size: 24px;
  cursor: pointer;
  opacity: 0.8;
  margin: 0px !important;
}
.icon-github {
  margin-left: 40px;
}
.icon-donate {
  margin-right: 40px;
}
