.book-list-container-parent {
  position: absolute;
  top: 80px;
  left: 220px;
  width: calc(100% - 220px);
  height: calc(100% - 125px);
  overflow: visible;
}
.book-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  left: 220px;
  width: calc(100% - 220px);
}
.book-list-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  user-select: text;
}

.booklist-shelf-list {
  width: 169px;
  height: 31px;
  opacity: 1;
  box-sizing: border-box;
  margin-left: 16px;
  font-size: 15px;
  line-height: 31px;
  border-radius: 5px;
  cursor: pointer;
}
.delete-shelf-icon {
  cursor: pointer;
  margin-left: 20px;
}
.icon-cover {
  font-weight: 500;
}
.booklist-shelf-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.booklist-manage-container {
  cursor: pointer;
}
.book-manage-title {
  font-size: 15px;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 5px;
}
.book-list-page-navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
}
.book-list-total-page {
  margin-left: 25px;
  /* width: 50px; */
  height: 40px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-list-prev-page {
  cursor: pointer;
  margin-right: 10px;
}
.book-list-next-page {
  cursor: pointer;
  margin-left: 10px;
}
.book-list-page-input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 0 10px;
}
.book-list-page-container {
  display: flex;
  align-items: center;
}
