.book-list-container-parent {
  position: absolute;
  top: 115px;
  left: 190px;
  width: calc(100% - 190px);
  height: calc(100% - 115px);
  overflow: visible;
  margin-bottom: 5px;
}
.book-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  user-select: text;
}
.booklist-delete-container {
  position: absolute;
  top: 80px;
  left: calc(50vw - 100px);
  width: 150px;
  border: 2px solid rgb(231, 69, 69);
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: rgb(231, 69, 69);
  cursor: pointer;
  border-radius: 5px;
}

.booklist-shelf-list {
  width: 169px;
  height: 31px;
  opacity: 1;
  box-sizing: border-box;
  margin-left: 16px;
  font-size: 15px;
  line-height: 31px;
  border-radius: 5px;
  cursor: pointer;
}
.delete-shelf-icon {
  cursor: pointer;
  margin-left: 20px;
}
.icon-cover {
  font-weight: 500;
  position: relative;
  top: 1px;
  margin-right: 2px;
}
.booklist-shelf-container {
  position: absolute;
  top: 80px;
  left: calc(50% - 125px);
}
