.progress-text {
  font-size: 14px;

  color: rgba(75, 75, 75, 1);
  width: 100%;
  margin-top: 9px;
  text-align: center;
}
.progress-slide-container {
  width: 309px;
}
.progress-slide-line {
  width: 100%;
  height: 0px;
  border-bottom: 2px solid rgba(112, 112, 112, 1);
  opacity: 1;
  margin-top: 10px;
  margin-left: 52px;
}
.progress-slide-circle {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(112, 112, 112, 1);
  border-radius: 50%;
  opacity: 1;
  position: absolute;
  left: 100px;
  bottom: 16px;
}
.previous-chapter {
  width: 25px !important;
  height: 25px !important;
  border: 2px solid rgba(112, 112, 112, 1);
  border-radius: 50%;
  opacity: 1;
  color: rgba(112, 112, 112, 1);
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
}
.next-chapter {
  width: 25px;
  height: 25px;
  border: 2px solid rgba(112, 112, 112, 1);
  border-radius: 50%;
  opacity: 1;
  color: rgba(112, 112, 112, 1);
  position: absolute;
  bottom: 10px;
  left: 370px;
  font-size: 14px;
}
.previous-chapter {
  transform: rotate(90deg);
  cursor: pointer;
}
.next-chapter {
  transform: rotate(-90deg);
  cursor: pointer;
}
.previous-chapter-icon {
  line-height: 25px !important;
  margin-left: 6px !important;
}
.next-chapter-icon {
  line-height: 25px !important;
  margin-left: 6px !important;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 309px;
  position: relative;
  left: 48px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 309px;
  height: 0px;
  border-bottom: 2px solid rgba(112, 112, 112, 1);
  opacity: 1;
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  width: 309px;
  height: 0px;
  border-bottom: 2px solid rgba(112, 112, 112, 1);
  opacity: 1;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 309px;
  height: 0px;
  border-bottom: 2px solid rgba(112, 112, 112, 1);
  opacity: 1;
  cursor: pointer;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(112, 112, 112, 1);
  border-radius: 50%;
  opacity: 1;
  position: relative;
  bottom: 9px;
  cursor: pointer;
  box-sizing: border-box;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(112, 112, 112, 1);
  border-radius: 50%;
  opacity: 1;
  position: relative;
  bottom: 9px;
  cursor: pointer;
  box-sizing: border-box;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(112, 112, 112, 1);
  border-radius: 50%;
  opacity: 1;
  position: relative;
  bottom: 9px;
  cursor: pointer;
  box-sizing: border-box;
}
.progress-panel {
  width: 412px !important;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  opacity: 1;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 206px);
  z-index: 10;
  animation: fade-up 0.1s ease-in-out 0s 1;
}
