.single-control-container {
  width: calc(100% - 10px);
  height: 80px;
  margin: 0px 5px 0px 5px;
  display: flex;
  justify-content: space-around;
}
.single-page-icon,
.two-page-icon {
  font-size: 50px;
  color: rgba(75, 75, 75, 1);
  text-align: center;
}
.single-mode-text,
.double-mode-text {
  font-size: 14px;
  line-height: 27px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-align: center;
}
.single-mode-container,
.double-mode-container {
  cursor: pointer;
  text-align: center;
}
