.loading-page-container-parent {
  position: absolute;
  top: 115px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 90px);
  overflow: hidden;
}
.loading-page-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
  user-select: text;
}

.loading-page-box {
  width: 135px;
  height: 190px;
  float: left;
}
.loading-page-cover {
  width: 105px;
  height: 137px;
  background: rgba(75, 75, 75, 0.67);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.22);
  /* opacity: 0.4; */
  margin: 15px 15px 37px 15px;
  cursor: pointer;
  animation: changeColor 1s linear infinite;
}
@keyframes changeColor {
  0% {
  }
  100% {
    opacity: 0.67;
  }
}
.loading-page-title {
  height: 30px;
  font-size: 15px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  word-break: keep-all;
  overflow: hidden;
  position: relative;
  bottom: 35px;
}
.boxcontainer {
  align-items: center;
  width: 100px;
  height: 30px;
  display: -webkit-box;
  display: flex;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}
