.delete-digest-button,
.add-dialog-comfirm,
.backup-page-backup-selector,
.delete-dialog-comfirm,
.book-item-config,
.book-cover-item-config,
.side-menu-selector-container,
.download-desk-button,
.edit-dialog-comfirm,
.change-location-button,
.token-dialog-comfirm,
.new-version-open,
.update-dialog-container-button,
.import-from-local,
.single-control-switch,
.side-menu-selector-container,
.previous-chapter-single-container,
.next-chapter-single-container,
.book-bookmark-link,
.message-box-container,
.only-local-icon {
  background-color: rgba(104, 103, 209, 1) !important;
}

.header-search-box,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea::-ms-input-placeholder,
.header-search-text,
.card-list-item-show-more {
  color: rgba(104, 103, 209, 0.8) !important;
}
.single-control-container,
.book-list-view {
  color: rgba(104, 103, 209, 1) !important;
}
.reading-progress-icon,
.header-search-box,
#jumpPage,
#jumpChapter,
#newTag {
  background-color: rgba(104, 103, 209, 0.1) !important;
}
.backup-page-close-icon:hover,
.sidebar-list-icon:hover,
.nav-close-icon:hover,
.setting-close-container:hover,
.side-menu-hover-container,
.setting-dialog-location-title,
.note-option:hover,
.digest-option:hover,
.translation-option:hover,
.speaker-option:hover,
.search-book-option:hover,
.google-option:hover,
.header-search-text:hover,
.reader-setting-icon-container:hover,
.setting-icon-container:hover,
.animation-mask,
.animation-mask-local,
.copy-option:hover {
  background-color: rgba(104, 103, 209, 0.035) !important;
}

.book-content-name,
.book-subcontent-name,
.book-bookmark-list,
.nav-search-list-item,
.sort-dialog-seperator {
  border-bottom: 1px solid rgba(104, 103, 209, 0.1) !important;
}
