.update-info-container {
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 320px;
  top: 18px;
  color: blue;
  /* bottom: 120px; */
}
