.book-bookmark-list {
  /* max-height: 200px; */
  width: 264px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  margin-left: 18px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.book-bookmark-digest {
  margin: 15px 5px 10px;
  width: 236px;
  max-height: 186px;
  font-size: 14px;
  line-height: 14px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  white-space: normal;
  word-break: keep-all;
  overflow: hidden;
  position: relative;
}
.book-bookmark-index {
  float: left;
  width: 200px;
  height: 16px;
  font-size: 14px;
  color: rgba(161, 161, 161, 1);
  opacity: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: normal;
  word-break: keep-all;
  overflow: hidden;
  position: relative;
  top: 5px;
}
.book-bookmark-progress {
  width: 30px;
  height: 15px;
  margin-left: 12px;
  /* margin-top: 8px; */
  position: relative;
  bottom: 15px;
  left: 10px;
  font-size: 14px;
  color: rgba(161, 161, 161, 1);
  opacity: 1;
  float: right;
}
.book-bookmark-link {
  float: right;
  width: 63px;
  height: 26px;
  background: rgba(191, 191, 191, 1);
  opacity: 1;
  border-radius: 13px;
  font-size: 11px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  text-align: center;
  margin: 0px 12px 0px;
  cursor: pointer;
  position: relative;
  bottom: 5px;
  left: 10px;
}
