.single-control-container {
  width: calc(100% - 40px);
  height: 80px;
  margin: 0px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
}
.single-page-icon,
.two-page-icon {
  font-size: 60px;
  color: rgba(75, 75, 75, 1);
  text-align: center;
}
.single-mode-text,
.double-mode-text {
  font-size: 16px;
  line-height: 27px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-align: center;
}
.single-mode-container,
.double-mode-container {
  cursor: pointer;
  text-align: center;
}
.single-control-switch-container {
  position: absolute;
  left: 90px;
  top: 135px;
}
.single-control-switch-title {
  font-size: 14px;
  line-height: 16px;
  color: #4b4b4b;
  opacity: 1;
}
.single-control-switch {
  display: inline-block;
  width: 29px;
  height: 15px;
  background: #000000;
  opacity: 1;
  border-radius: 7px;
  position: relative;
  top: 3px;
  left: 2px;
}
.single-control-button {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
}
