.single-control-container {
  width: calc(100% - 40px);
  height: 80px;
  margin: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
}
.single-page-icon,
.two-page-icon {
  font-size: 50px;
  color: rgba(75, 75, 75, 1);
  text-align: center;
}
.single-mode-text,
.double-mode-text {
  font-size: 16px;
  line-height: 27px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-align: center;
}
.single-mode-container,
.double-mode-container {
  cursor: pointer;
  text-align: center;
}
