.digest-list-container-parent {
  position: absolute;
  top: 75px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 90px);
  overflow: hidden;
}
.digest-list-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
  user-select: text;
}

.digest-page-item-date {
  /* float: left; */
  position: absolute;
  font-size: 14px;
  line-height: 25px;
  color: rgba(75, 75, 75, 1);
  opacity: 0.75;
  margin-left: 19px;
  height: 20px;
}
.digest-page-item {
  /* display: block; */
  width: 100%;
  /* height: 400px; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
  /* font-size: 0px; */
  /* clear: both; */
  /* float: left; */
  /* zoom: 1; */

  overflow: hidden;
  clear: both;
}
.digest-list-item {
  float: left;
  /* display: inline-block; */
  cursor: pointer;
  font-size: 16px;
  width: calc(50vw - 140px);
  height: 126px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 7px;
  margin: 15px;
  font-size: 14px;
  line-height: 14px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  position: relative;
  bottom: 10px;
}

.digest-list-item-chapter {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 14px;
  max-width: 130px;
}
.digest-list-item-citation {
  position: absolute;
  bottom: 5px;
  right: 5px;
  /* text-align: right; */
  margin: 5px;
  white-space: nowrap;
  white-space: normal;
  word-break: break-all;
  color: rgba(155, 155, 155, 1);

  /* width: 300px; */
  /* text-align: right; */
}
.digest-list-item-text-parent {
  position: absolute;
  width: 100%;
  height: 104px;
}
.digest-list-item-text {
  width: calc(100% - 20px);
  height: 80px;
  overflow-y: scroll;
  margin: 14px 10px 0px 10px;
  position: absolute;
  cursor: text;
  line-height: 18px;
  font-size: 16px;
}
::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.5rem;
  background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95, 95, 95, 0.4);
  transition: all 0.2s;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(95, 95, 95, 0.7);
}
.digest-list-item-title {
  float: left;
}
.digest-list-container-box {
  margin-top: 35px;
}
