.view-area-page {
  position: absolute;
  left: 60px;
  right: 60px;
  top: 55px;
  bottom: 55px;
  /* width: calc(100% - 100px);
  height: calc(100% - 100px); */
  z-index: 0;
  user-select: text;
}

.popup-menu-container {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 20;
  animation: popup 0.075s ease-in-out 0s 1;
}
.image-preview {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  z-index: 5;
}
.bookmark {
  height: 40px;
  width: 20px;
  padding: 0px;
  -webkit-transform: rotate(0deg) skew(0deg);
  transform: rotate(0deg) skew(0deg);
  border-left: 10px solid red;
  border-right: 10px solid red;
  border-bottom: 10px solid transparent;
  position: fixed;
  top: 5px;
  right: 50px;
}
.bookmark,
.bookmark:before,
.bookmark:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
