@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bat9kn');
  src:  url('fonts/icomoon.eot?bat9kn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bat9kn') format('truetype'),
    url('fonts/icomoon.woff?bat9kn') format('woff'),
    url('fonts/icomoon.svg?bat9kn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-english:before {
  content: "\e92d";
}
.icon-chinese:before {
  content: "\e92e";
}
.icon-local:before {
  content: "\e92a";
}
.icon-backup:before {
  content: "\e92b";
}
.icon-restore:before {
  content: "\e92c";
}
.icon-contact:before {
  content: "\e912";
  color: #4b4b4b;
}
.icon-github:before {
  content: "\e913";
  color: #4b4b4b;
}
.icon-donate:before {
  content: "\e929";
  color: #4b4b4b;
}
.icon-yandex2:before {
  content: "\e927";
  color: #4b4b4b;
}
.icon-yandex1:before {
  content: "\e928";
  color: #4b4b4b;
}
.icon-two-page:before {
  content: "\e925";
}
.icon-single-page:before {
  content: "\e926";
}
.icon-logo:before {
  content: "\e924";
}
.icon-message:before {
  content: "\e923";
}
.icon-check:before {
  content: "\e922";
}
.icon-close:before {
  content: "\e921";
}
.icon-shangla:before {
  content: "\e920";
}
.icon-home:before {
  content: "\e90b";
}
.icon-popup:before {
  content: "\e91f";
  color: #fff;
}
.icon-note:before {
  content: "\e91a";
  color: #109870;
}
.icon-collect:before {
  content: "\e91b";
  color: #5e7fff;
}
.icon-highlight:before {
  content: "\e91c";
  color: #f16464;
}
.icon-copy:before {
  content: "\e91d";
  color: #f90;
}
.icon-success:before {
  content: "\e91e";
  color: #fff;
}
.icon-add:before {
  content: "\e90d";
}
.icon-delete:before {
  content: "\e90e";
}
.icon-onedrive:before {
  content: "\e90f";
  color: #4b4b4b;
}
.icon-dropbox:before {
  content: "\e910";
  color: #4b4b4b;
}
.icon-mega:before {
  content: "\e911";
  color: #4b4b4b;
}
.icon-webdav:before {
  content: "\e914";
  color: #4b4b4b;
}
.icon-noun_books_2156102:before {
  content: "\e915";
  color: #fff;
}
.icon-edit:before {
  content: "\e916";
}
.icon-exit:before {
  content: "\e917";
  color: #fff;
}
.icon-fullscreen:before {
  content: "\e918";
  color: #fff;
}
.icon-googledrive:before {
  content: "\e919";
  color: #4b4b4b;
}
.icon-koodo:before {
  content: "\e90c";
}
.icon-list:before {
  content: "\e900";
}
.icon-more:before {
  content: "\e901";
}
.icon-bookmark:before {
  content: "\e902";
}
.icon-shelf:before {
  content: "\e903";
}
.icon-idea:before {
  content: "\e904";
}
.icon-recent:before {
  content: "\e905";
}
.icon-sort:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-grid:before {
  content: "\e908";
}
.icon-dropdown:before {
  content: "\e909";
}
.icon-digest:before {
  content: "\e90a";
}
.icon-return:before {
  content: "\ea40";
}
