.menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 158px;
  height: 132px;
}
.note-option,
.digest-option,
.translation-option,
.copy-option {
  height: 69px;
  width: 69px;
  font-size: 14px !important;
  line-height: 15px !important;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.1s;
  /* align-items: center; */
  justify-content: center;
}
.note-option:hover,
.digest-option:hover,
.translation-option:hover,
.copy-option:hover {
  background-color: rgba(75, 75, 75, 0.035);
  border-radius: 8px;
}
.digest-option {
  margin-top: 5px;
  margin-right: 10px;
}
.translation-option {
  margin-left: 10px;
  font-size: 15px;
}
.note-option {
  margin-top: 5px;
  margin-left: 10px;
}
.note-icon,
.translation-icon,
.copy-icon,
.digest-icon {
  line-height: 45px !important;
  font-size: 27px;
}
.copy-icon {
  color: #ff9900;
}
.digest-icon {
  color: #5e7fff;
}
.note-icon {
  color: #109870;
}
