.book-content-list {
  float: left;
  width: calc(100% - 20px);
  margin-left: 18px;
}
.book-content-name {
  display: block;
  padding: 10px 0px;
  width: 94%;
  font-size: 14px;
  line-height: 18px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  float: left;
  transition: none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}
.book-subcontent-name {
  display: block;
  width: 220px;
  float: left;
  font-size: 13px;

  line-height: 20px;
  color: rgba(75, 75, 75, 1);
  opacity: 0.64;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  padding: 8px;
}
.book-subcontent-list {
  margin-left: 18px;
}
.content-dropdown {
  float: right;
  margin-top: 15px;
  position: relative;
  right: 15px;
  opacity: 0.5;
  font-size: 13px;
  cursor: pointer;
  transition: transform 0.1s ease;
}
