.support-us-out-button {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  cursor: pointer;
  position: absolute;
  right: 12px;
}
.support-us-need-help,
.support-us-log-out {
  min-width: 60px;
  margin-right: 20px;
}
.support-us-info {
  margin-top: 10px;
  height: 330px;
}
.support-dialog-list {
  font-size: 15px;
  line-height: 18px;
  opacity: 1;
  margin: 12px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
