.sidebar {
  width: 190px;
  height: 100%;
}

.logo {
  width: 125px;
  position: absolute;
  top: 15px;
  left: 70px;
  cursor: pointer;
}
.side-menu-container-parent {
  position: relative;
  top: 85px;
  width: 190px;
  height: 100%;
  overflow: hidden;
}
.sidebar-list {
  margin-right: 5px;
  font-size: 22px;
}
.sidebar-list-icon {
  width: 45px;
  height: 50px;
  position: absolute;
  top: 20px !important;
  left: 10px;
  cursor: pointer;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  transition: 0.2s;
}
.sidebar-list-icon:hover {
  border-radius: 50%;
}
.side-menu-container {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  position: relative;
}

.side-menu-icon {
  /* float: left; */
  font-size: 17px;
  margin: 9px 12px 7px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.side-menu-item {
  margin-top: 2px;
  list-style-type: none;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -20px;
  margin-bottom: 10px;
  position: relative;
  bottom: 1px;
  overflow: hidden;
  transition: 0.1s;
}
.side-menu-selector {
  width: 100%;
  height: 39px;
  line-height: 39px;
  z-index: 40;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.shelf-list-container-parent {
  margin-top: 20px;
  height: 140px;
  width: 80%;
}
.shelf-list-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  list-style-type: none;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.side-menu-selector-container {
  width: 100%;
  height: 39px;
  border-radius: 25px;
  line-height: 39px;
  position: absolute;
  z-index: -1;
  animation: popup 0.1s ease-in-out 0s 1;
}
.icon-digest {
  font-size: 22px;
}
.side-menu-hover-container {
  width: 100%;
  height: 39px;
  border-radius: 25px;
  line-height: 39px;
  position: absolute;
  z-index: -1;
  animation: slidein 0.1s ease-in-out 0s 1;
}
@keyframes slidein {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.side-menu-about {
  position: absolute;
  bottom: 0px;
}
.dropdown-icon-container {
  display: inline-block;
  margin-left: 13px;
}

.icon-idea {
  font-size: 20px;
}
