.note-list-container-parent {
  position: absolute;
  top: 75px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 75px);
  overflow: hidden;
}
.note-list-filter-label {
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
}
.note-list-header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 10px;
}
