.sort-dialog-container {
  width: 110px;
  height: 240px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  left: 444px;
  top: 25px;
  z-index: 5;
  border-radius: 5px;
  transition: all 0.1s ease;
  overflow: hidden;
}
.sort-by-category {
  margin-top: 29px;
}
.sort-by-category-list,
.sort-by-order-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(75, 75, 75, 0.34);
  opacity: 1;
  line-height: 24px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.sort-dialog-seperator {
  width: 100%;
  height: 0px;
  border: 0.5px solid rgba(0, 0, 0, 1);
  opacity: 0.1;
  margin: 6px 0px;
}
