.book-list-item {
  width: 135px;
  height: 190px;
  float: left;
  overflow: hidden;
  position: relative;
}
.book-item-cover {
  width: 105px;
  height: 137px;
  background: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.22);
  opacity: 0.73;
  margin: 15px 15px 5px 15px;
  cursor: pointer;
}
.book-item-title {
  height: 39px;
  font-size: 15px;
  line-height: 17px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  word-break: keep-all;
  overflow: hidden;
  position: relative;
}
.book-item-config {
  width: 105px;
  height: 35px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 71px;
  left: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  opacity: 1;
  cursor: pointer;
  animation: fade-in 0.1s ease-in 0s 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.book-more-action {
  position: absolute;
  top: 23px;
  right: 17px;
  transform: rotate(90deg);
  font-size: 18px;
  color: white;
  cursor: pointer;
  text-shadow: 0px 0px 5px rgba(75, 75, 75, 0.6);
}
.book-love-icon {
  position: absolute;
  bottom: 45px;
  right: 20px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  z-index: 1;
  text-shadow: 0px 0px 5px rgba(75, 75, 75, 0.6);
}
.book-loved-icon {
  position: absolute;
  bottom: 44px;
  right: 19px;
  font-size: 20px;
  color: #f87356;
  cursor: pointer;
  z-index: 2;
  text-shadow: 0px 0px 5px rgba(75, 75, 75, 0.6);
}
.book-item-cover-img {
  width: 90px;
  height: 100px;
  background: linear-gradient(
    197deg,
    rgba(45, 162, 255, 1) 0%,
    rgba(105, 235, 222, 1) 100%
  );
  margin-left: 15px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-item-cover-title {
  height: 30px;
  font-size: 8px;
  line-height: 15px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  float: left;
  font-size: 14px;
  height: 15px;

  line-height: 30px;
  color: black;
  opacity: 1;
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 115px;
  left: 15px;
  font-weight: bold;
  width: 106px;
  height: 38px;
}
